<h1>Agent: <%= @seller.name %></h1>
<hr />

 <h3>Phone Number: <%= @seller.phone_number %></h3>
 <h3>Email: <%= @seller.email %></h3>


<hr />
<button type='button'>
<%= link_to 'View Homes', seller_homes_path(@seller) %>
</button>