<h1>List of Homes For Seller: <%= @seller.name %></h1>
<hr />

<% if @homes.any? %>
  <% @homes.each do |home| %>
    <%= link_to home.title, seller_home_path(@seller, home) %>
    <br />
  <% end %>
<% else %>
  <h3>No homes listed.</h3>
<% end %>

<%= link_to 'List new home', new_seller_home_path(@seller) %>